.forgot.controller {
  position: static;

  .page {
    bottom: 0;

    h1 {
      font-size: 48px;

      @media screen and (max-width: $iphone-6-max) {
        font-size: 32px;
      }
    }

    form {
      margin: 25px auto;

      input {
        display: block;
        outline: none;
        border: solid 1px #999;
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 14px;
        border-radius: 5px;

        &.hidden {
          display: none;
        }

        &.input-name {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.input-password {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;          
          border-top: none;
        }

        &.input-confirm-password {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          border-top: none;
        }        
      }
    }

    .fine-print {
      font-size: 12px;
      margin-top: 20px;
      list-style: none;
      margin-left: -20px;
      font-weight: 700;
      overflow: auto;

      li {
        float: left;
        width: 33%;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .floating-button {
      width: 100%;
      margin: 20px auto 0 auto;
      text-align: center;
      border-radius: 8px;
      overflow: auto;
      color: white;
      cursor: pointer;

      p {
        margin: 10px;
      }
    }

    .login {
      margin-top: 20px;
      font-size: 13px;

      a {
        text-decoration: underline;
      }
    }
  }
}