@keyframes spinnerRotate
{
	from{ transform:rotate(0deg);}
	to{ transform:rotate(360deg);}
}
.spin{
	animation-name: spinnerRotate;
	animation-duration: .5s;
	animation-iteration-count: 3;
	animation-timing-function: linear;
}

@keyframes dropHeader {
      0% {
          transform: translateY(-80px);
          opacity: 0;
      }
      10% {
          transform: translateY(0);
          opacity: 1;
		      z-index: 6;
      }
      50% {
          opacity: 1;
		      z-index: 6;
      }
      60% {
          opacity: 0;
		      z-index: 3;
      }
      100% {
          opacity: 0;
		      z-index: 3;
      }
  }


.dashboard.controller {
  overflow: auto;
  background-image: linear-gradient(to left, rgba(black, 0.5) 0%, rgba(black, 0.3) 50%,  rgba(black, 0.5) 100%);
  min-height: 100vh;

  .ad {
    position: relative;
    z-index: 4;
    min-height: 50px;
    overflow: hidden;
    height: 68px;

    img {
        width: 100%;
      }
    .ad2 {
          position: absolute;
          top: 0;
          left: 0;
          height: 58px;

          animation-name: dropHeader;
          animation-timing-function: ease-in ease-out;
          animation-duration: 12s;
          animation-iteration-count: infinite;
          z-index: 3;
    }
    .ad1 {
          position: absolute;
          top: 0;
          left: 0;
          height: 58px;
          z-index: 5;
    }
  }

  .blackout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(black, 0.5);
    z-index: 2;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: none;

    &.active {
      opacity: 1;
      display: block;
    }
  }

  .dropdown {
    $background: #3d566e;
    $color: #ecf0f1;

    $height-icon: 12px;
    $width-line: 24px;
    $height-line: 3px;

    $transition-time: 0.4s;
    $rotation: 45deg;
    $translateY: ($height-icon / 2);
    $translateX: 0;

    position: absolute;
    z-index: 2;
    right: 0;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;


    .topnav {
      position: relative;
      top: -21px;
      width: 100%;
      height: 250px;
      overflow: visible;
      transform: translateY(-250px);
      transition: .5s all ease;
      opacity: 0;

      ul {
        padding-top: 15px;
        margin-left: -20px;
        list-style: none;

        li {
          text-align: left;
          margin: 20px auto;
          font-weight: 700;
          cursor: pointer;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .close_container {
      cursor: pointer;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      margin-top: 85px;
      & i {
        font-size: 30px;
        margin-top: 10px;
        margin-left: 20px;
        color: #3C738B;
        transition: .5s all ease;
      }

    }

    .menu_text {
      position: absolute;
      margin-top: 80px;
      margin-left: -100px;
      font-size: 12px;
      color: #3C738B;
      transition: .5s all ease;
    }

    .menu_item {
      width: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #56B548;
      & i {
        font-size: 33px;
        margin-bottom: 5px;
      }
      & span {
        font-size: 12px;
      }
    }

    &.active {

      .close_container {
        background: white;
      }

      .topnav {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .5);
      }

      .menu_text {
        opacity: 0;
      }

      a.menu {
        .line-1 {
          transform: translateY($translateY) translateX($translateX) rotate($rotation);
          -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
          -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
        }
        .line-2 {
          opacity:0;
        }
        .line-3 {
          transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
          -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
          -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
        }
      }
    }

    .menu {
      width:$width-line;
      height:$height-icon;
      position:absolute;
      display:block;
      right: 13px;
      top: 15px;
      z-index: 3;
      cursor: pointer;

      .line {
        display:block;
        background:$color;
        width:$width-line;
        height:$height-line;
        position:absolute;
        left:0;
        border-radius:($height-line / 2);
        transition: all $transition-time;
        -webkit-transition: all $transition-time;
        -moz-transition: all $transition-time;

        &.line-1 {
          top:0;
        }
        &.line-2 {
          top:50%;
        }
        &.line-3 {
          top:100%;
        }
      }
      &:hover, &:focus {
        .line-1 {
          transform: translateY($height-line / 2 * -1);
          -webkit-transform: translateY($height-line / 2 * -1);
          -moz-transform: translateY($height-line / 2 * -1);
        }
        .line-3 {
          transform: translateY($height-line / 2);
          -webkit-transform: translateY($height-line / 2);
          -moz-transform: translateY($height-line / 2);
        }
      }
    }
  }


  .week {
    margin: 10px auto;
    position: relative;

    & > div {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  }

  .current-pak {
    overflow: auto;

    .picks {
      overflow: auto;
      padding-left: 5px;

      @media screen and (min-width: 375px) {
        margin-left: 0;
      }

      .pick-container {
        float: left;
        width: 33%;

        .pick {
          width: 70px;
          height: 70px;
          margin: 5px auto;
          border-radius: 35px;
          position: relative;
          background-color: rgba(white, 0.5);
          background-size: auto 70px;
          background-position: center;
          background-repeat: no-repeat;

          span {
            display: block;
            padding-top: 16px;
            font-size: 25px;
            text-align: center;
          }

          .remove-button {
            display: none;
          }

          &.set {
            background-color: white;

            .remove-button {
              content: '\2002';
              position: absolute;
              top: 0;
              right: 0;
              display: block;
              width: 20px;
              height: 20px;
              background: red;
              border-radius: 10px;
              cursor: pointer;

              &:after {
                content: '\00d7';
                font-weight: bold;
                position: absolute;
                top: -2px;
                right: 5px;
                width: auto;
                height: auto;
                font-size: inherit;
              }
            }

            &:after {
              content: none;
            }
          }

          &:after {
            content: '\0003F';
            display: block;
            width: 30px;
            height: 30px;
            font-size: 39px;
            font-weight: 700;
            position: absolute;
            top: 6px;
            right: 14px;
          }
        }

        .top, .bottom {
          font-size: 0.5em;
          display: flex;
          margin: 0 20px;

          @media screen and (max-width: 413px) {
            margin: 0 10px;

            @media screen and (max-width: 374px) {
              margin: 0 5px;
            }
          }

          .position {
            margin-right: 3px;
          }

          .name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          &.top {
            font-weight: 700;

            & > div:nth-child(2) {
              text-align: center;
              flex-grow: 1;
            }
          }

          .game {
            display: inline-block;
            margin-left: 3px;
          }
        }
      }
    }

    .score {
      margin: 15px auto;
      clear: left;
      overflow: auto;
      display: flex;

      .points {
        flex-grow: 1;
        text-align: right;
        margin-right: 20px;

        span {}
        strong {}
      }

      .place {
        flex-grow: 1;
        text-align: left;
      }
    }
  }

  .competitor-list {
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    bottom: 60px;
    background: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: black;

    .competitor {
      padding: 25px;
      border-bottom: solid 1px #AAA;
      font-size: 14px;
      overflow: auto;
      position: relative;

      .position {
        width: 20px;
        font-size: 16px;
        font-weight: 700;
        float: left;
        margin-top: 7px;
        margin-bottom: 0;
      }

      .user-info {
        float: left;

        .username {
          margin: 0;
        }

        .points {
          margin: 0;
          color: #AAA;
        }
      }

      &.me {
        .user-info {
          font-weight: bold;
        }
      }

      /*&:after {
        content: '\f105';
        font-family: 'FontAwesome';
        font-size: 22px;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        right: 10px;
        color: #AAA;
      }*/

      &.empty {
        &:after {
          content: none;
        }
      }
    }
  }
}