.confirmation.controller {
  position: static;

  .page {

    @media screen and (max-width: $iphone-6-max) {
      padding-top: 0;
    }

    .container {

      @media screen and (max-width: $iphone-6-max) {
        width: 92%;
      }

      h2 {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 5px;

        @media screen and (max-width: $iphone-6-max) {
          margin-top: 0;
          font-size: 13px;
        }
      }

      h3 {
        font-size: 22px;
        margin: 0 auto 5px auto;
        padding-bottom: 5px;
        border-bottom: solid 1px #ccc;
        width: 70%;

        &:last-child {
          border-bottom: none;
        }

        @media screen and (max-width: $iphone-6-max) {
          padding-bottom: 5px;
          margin-bottom: 5px;
          font-size: 17px;
          width: 90%;
        }
      }

      .info {
        @media screen and (max-width: $iphone-6-max) {

        }
      }
    }
  }
}
