<div class="confirmation controller">
    <pak-toolbar></pak-toolbar>
    <div class="page">
        <div class="container">
            <h1 class="color-1">YOU'RE IN!</h1>
            <p class="info">Congratulations your Pak is active!! Check out the key dates below. Invite friends to play or just make some new friends and put your Pak up against field!</p>

            <h2 class="color-2">Line-Up Changes</h2>
            <h3>Prior to 4th inning</h3>

            <h2 class="color-2">Contest Starts</h2>
            <h3>Start of game day</h3>

            <h2 class="color-2">Contest Ends</h2>
            <h3>End of game day<h3>
        </div>
    </div>
    <pak-nav-button buttons="confirm.navButtons"></pak-nav-button>
</div>
