<div class="rule-screen">
    <h2 class="header">Contest Rules</h2>
    <p><span class="number">1</span><span class="big">Pick 3 Players</span></p>
    <ul>
        <li>Players must be on different teams.</li>
        <li>Players are locked 15 min before kickoff of their game.</li>
        <li>Stay under the salary cap.</li>
    </ul>
    <p><span class="number">2</span><span class="big">Change Players Mid-Contest</span></p>
    <ul>
        <li>Option to change players after week 1 ends.</li>
        <li>Don't worry, we'll remind you.</li>
    </ul>
    <div style="color: white" class="floating-button color-2-fill" ng-click="rule.updateRuleScreenData()"><p>Ok</p></div>
</div>
